<form #signUpForm="ngForm"(ngSubmit)="submitForm()">
  <input type="text" #name="ngModel" [(ngModel)]="userService.selectedUser.name" name="name" placeholder="Name"
  required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !name.valid }">
  <div *ngIf="signUpForm.submitted && !name.valid">
    <label class="validation-message">Name field is required!</label>
  </div>

  <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Email"
  required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
  <div *ngIf="signUpForm.submitted && email.errors">
    <label *ngIf="email.errors" class="validation-message">Email field is required and must be valid!</label>
  </div>

  <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Password"
  minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
  <div *ngIf="signUpForm.submitted && password.errors">
    <label *ngIf="password.errors" class="validation-message">Password field is required and must be 6 characters long! </label>
  </div>

  <input type="submit" value="Sign Up">
</form>
