@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

input
{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8em;
    margin-top: 0.25em;
}

h2
{
    font-size: 2em;
}

form p
{
    margin: 0;
    text-align: left;
    padding-left: 3.5em;
}

form p:not(:first-of-type):not(:last-of-type)
{
    padding-top: 2em;
}

form p:last-of-type
{
    padding-top: 0.5em;
}

#submit, #login
{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #386150;
    color: #DBE4EE;
    cursor: pointer;
    border-radius: 5%;
}

#submit:hover, #login:hover
{
    background-color: #DBE4EE;
    color: #4A442D;
}
