<div class="container">

  <div class="row">

    <div class="col-sm-0 col-md-3 col-lg-3"></div>

    <div class="col-sm-12 col-md-6 col-lg-6">

      <div class="row">

        <div class="col-sm-3 col-md-1.75 col-lg-3"></div>

        <div class="col-sm-6 col-md-8.5 col-lg-6">
          <h1 class="alignMid">Hobbyistic</h1>
        </div>

        <div class="col-sm-3 col-md-1.75 col-lg-3"></div>

      </div>

      <div class="row">

        <div class="col-sm-0 col-md-1.75 col-lg-2"></div>

        <div class="col-sm-12 col-md-8.5 col-lg-8 identify">

          <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-12">

              <div class="row">

                <div class="col-sm-3 col-md-3 col-lg-3"></div>

                <div class="col-sm-6 col-md-6 col-lg-6">
                  <h2 class="alignMid">Login</h2>
                </div>

                <div class="col-sm-3 col-md-3 col-lg-3"></div>

              </div>
              <!-- <form>
                <p class="alignleft">Email</p>
                <input class="alignleft"/>
                <p class="alignleft">Password</p>
                <input class="alignleft" type="password"/>
                <p class="alignleft">Don't have an account? <a routerLink="/signup" id="register">Register here</a>.</p>

                <div class="row">

                  <div class="col-sm-3 col-md-3 col-lg-3"></div>

                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <p class="alignMid spacingBtm"><a routerLink="/main" id="login">Login</a></p>
                  </div>

                  <div class="col-sm-3 col-md-3 col-lg-3"></div>

                </div>

              </form> -->

              <form #logInForm="ngForm" (ngSubmit)="onLogin(logInForm)">

                <p class="alignleft">Email</p>
                <input class="alignleft" type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email"
                required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :logInForm.submitted && !email.valid }">
                <div *ngIf="logInForm.submitted && email.errors">
                  <label *ngIf="email.errors" class="validation-message alignleft">Email field is required and must be valid!</label>
                </div>

                <p class="alignleft">Password</p>
                <input class="alignleft" type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password"
                minlength="4" required [ngClass]="{'invalid-textbox' :logInForm.submitted && !password.valid }">
                <div *ngIf="logInForm.submitted && password.errors">
                  <label *ngIf="password.errors" class="validation-message alignleft">Password field is required and must be 6 characters long! </label>
                </div>
                
                <p class="alignleft">Don't have an account? <a routerLink="/signup" id="register">Register here</a>.</p>

                <div class="row">

                  <div class="col-sm-3 col-md-3 col-lg-3"></div>

                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <!-- <p class="alignMid spacingBtm"><a type="submit" value="Sign up" id="login">Register</a></p> -->
                    <p class="alignMid spacingBtm"><input type = "submit" value = "Login" id="login"></p>
                  </div>

                  <div class="col-sm-3 col-md-3 col-lg-3"></div>

                </div>

              </form>

            </div>

          </div>

        </div>

        <div class="col-sm-0 col-md-1.75 col-lg-2"></div>

      </div>

    </div>

    <div class="col-sm-0 col-md-3 col-lg-3"></div>

  </div>

</div>
