<div class="container">
  
    <div class="row">
  
      <div class="col-sm-0 col-md-3 col-lg-3"></div>
  
      <div class="col-sm-12 col-md-6 col-lg-6">
  
        <div class="row">
            
          <div class="col-sm-0 col-md-1.75 col-lg-2"></div>
          
          <div class="col-sm-12 col-md-8.5 col-lg-8 identify">
            
            <div class="row">
              
              <div class="col-sm-12 col-md-12 col-lg-12">
                
                <div class="row">
                  
                  <div class="col-sm-3 col-md-3 col-lg-2"></div>
                  
                  <div class="col-sm-6 col-md-6 col-lg-8">
                    <h2 class="alignMid">Add Hobby</h2>
                  </div>
                  
                  <div class="col-sm-3 col-md-3 col-lg-2"></div>
                
                </div>
                <form>
                  <p class="alignleft">Hobby Name</p>
                  <input class="alignleft"/>
                  <p class="alignleft">Choose Widgets</p>
                  <input class="alignleft" placeholder="COMING SOON"/>
                  
                  <div class="row">
                    
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <p class="alignMid spacingBtm"><a routerLink="/main" id="add" value="updateHobbies">Add</a></p>
                    </div>
                    
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <p class="alignMid spacingBtm"><a routerLink="/main" id="cancel">Cancel</a></p>
                    </div>
                  
                  </div>
  
                </form>
            
              </div>
            
            </div>
  
          </div>
  
          <div class="col-sm-0 col-md-1.75 col-lg-2"></div>
  
        </div>
      
      </div>
  
      <div class="col-sm-0 col-md-3 col-lg-3"></div>
  
    </div>
  
  </div>
