@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body:not(h1)
{
    font-family: 'Quicksand', sans-serif;
    color: #333;
}

body
{
    background-color: #386150;
}

.container
{
    margin-top: 5em;
}

h1
{
    color: #DBE4EE;
    font-family: 'Caveat', cursive;
    font-size: 5em;
    padding-top: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.alignMid
{
    text-align: center;
}

h2
{
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 1em;
}

input
{
    font-size: 2em;
}

p
{
    font-size: 1.25em;
    margin-bottom: 0;
}

p:not(:last-of-type)
{
    margin-top: 1em;
}

p:last-of-type
{
    margin-top: .25em;
}

.alignMid
{
    text-align: center;
}

p
{
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
}

.alignMid p
{
    margin-bottom: 0;
}

.spacingBtm
{
    padding-bottom: 1em;
}

.alignleft
{
    text-align: left;
    margin-left: 1em;
}

.identify
{
    background-color: #DBE4EE;
    border-radius: 5%;
    border: 0.075em solid #4A442D;
}

#add
{
    background-color: #386150;
    color: #DBE4EE;
    padding-top: 0.25em;
    margin-top: 1em;
    margin-left: 0.75em;
}

#cancel
{
    background-color: #4A442D;
    color: #DBE4EE;
    padding-top: 0.25em;
    margin-top: 1em;
}

a
{
    cursor: pointer;
}

#cancel, #add
{
    text-decoration: none;
    border-radius: 5%;
    font-size: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.25em;
    margin-bottom: 1em;
    border: .075em solid #4A442D;
}

#add:hover, #cancel:hover
{
    background-color: #DBE4EE;
    color: #4A442D;
}

@media screen and (max-width: 600px){
    .identify
    {
        border-radius: 0%;
    }

}

@media screen and (max-width: 769px){
    
    h2
    {
        padding-top: 0.5em;
        padding-bottom: .5em;
    }
}

@media screen and (max-width: 425px){
    
    #cancel
    {
        margin-top: 0;
        padding-top: 0;
    }
}


