<div class="container">
    <div class="row topLayout">
        <div class="col-lg-4 titleLayout">
            <div class="dropdown">
                <button class="dropdown-toggle dropBtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Useful Links <img src="../assets/images/dropdwn.png" id="dropIcon"/></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item drop-Item" routerLink="/main">Dashboard</a><br>
                    <a class="dropdown-item drop-Item" [routerLink]="['/dashboard', hobby.id]">My Widgets</a><br>
                    <a class="dropdown-item drop-Item" [routerLink]="['/calendar', hobby.id]">Calendar</a><br>
                    <a class="dropdown-item drop-Item" [routerLink]="['/motivation', hobby.id]">Motivation</a><br>
                    <a class="dropdown-item drop-Item" [routerLink]="['/checklist', hobby.id]">Task List</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 boxLayout">
            <p><a class="title" routerLink="/main">Hobbyistic</a></p>  
        </div>
        <div class="col-lg-1"></div>
        <div class="col-md-6 col-lg-3 iconLayout">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <img src="../assets/images/Logout.png" alt="Logout" routerLink="/login"/>
                </div>
                <div class="col-md-4 col-lg-4">
                    <img src="../assets/images/Home.png" alt="Home" routerLink="/main"/>
                </div>
                <div class="col-md-4 col-lg-4">
                    <img src="../assets/images/Settings.png" alt="Settings"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 hobbyName">
            <h2>Helpful links for {{ hobby.name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 searchInput">
            <form (ngSubmit)="searchResults(hobby.name)">
                <p class="howto">How to </p>
                <input class="addHobbyInput" [ngModelOptions]="{standalone: true}" [(ngModel)]="hobby.name"/>
                <input id="add" value="Search" type="submit">
            </form>
        </div>
        <div class="col-lg-2 bookmarkInput"><img src="../assets/images/mybookmark.png" alt="mybookmark" /></div>
    </div>
    <div class="row">
        <div class="col-lg-12" *ngFor = "let link of widgets.externalLinksWidget?.links">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 linkBox">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="linkTitle">{{ link.title }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="linkText">Link: <a href="{{link.link}}" target="_blank">{{ link.link }}</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="linkText linkSnip">{{ link.snippet }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</div>

