@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body:not(h1)
{
    font-family: 'Quicksand', sans-serif;
    color: #4A442D;
}

body
{
    background-color: #386150;
}



