<div class="container">
    
    <div class="row topLayout">
        
        <div class="col-lg-4 titleLayout">
            
            <div class="dropdown">

                <button class="dropdown-toggle dropBtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Motivation <img src="../assets/images/dropdwn.png" id="dropIcon"/></button>
                
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                    <a class="dropdown-item drop-Item" routerLink="/main">Dashboard</a><br>
                    <a class="dropdown-item drop-Item" [routerLink]="['/dashboard', hobby.id]">My Widgets</a><br>
                    <a class="dropdown-item drop-Item" [routerLink]="['/calendar', hobby.id]">Calendar</a><br>
                    <a class="dropdown-item drop-Item" [routerLink]="['/checklist', hobby.id]">Task List</a><br>
                    <a class="dropdown-item drop-Item" [routerLink]="['/external-links', hobby.id]">Useful Links</a>

                </div>

            </div>

        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 boxLayout">
            
            <p><a class="title" routerLink="/main">Hobbyistic</a></p>  
        
        </div>
        
        <div class="col-lg-1"></div>

        <div class="col-md-6 col-lg-3 iconLayout">

            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <img src="../assets/images/Logout.png" alt="Logout" routerLink="/login"/>
                </div>
                <div class="col-md-4 col-lg-4">
                    <img src="../assets/images/Home.png" alt="Home" routerLink="/main"/>
                </div>
                <div class="col-md-4 col-lg-4">
                    <img src="../assets/images/Settings.png" alt="Settings"/>
                </div>
            </div>

        </div>
    
    </div>

    <div>
        <form #addPostForm="ngForm" (ngSubmit)="submitPost(addPostForm)" class="addPostForm">
            <h2 class="titleAdd">Add Post</h2>
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="motivationWidget.title" placeholder="Add Title" class="titleInput"/><br>
            <textarea [ngModelOptions]="{standalone: true}" [(ngModel)]="motivationWidget.description" placeholder="Add Description" class="descInput"></textarea><br>
            <label>Would you like to make this public?</label>
            <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="motivationWidget.sharable" name="" class="checkBox"/>

            <input type="file" class="file-input" (change)="onFileSelected($event)" accept="image/*" #fileUpload>
            <div class="file-upload">
                {{fileName || "No file uploaded yet."}}
                <img src="../assets/images/upload.jpg" (click)="fileUpload.click()" />
                
            </div>
            <div [style.display]="warning ? 'block' : 'none'">
                <p class="warningMsg">Please submit an image to continue</p>
            </div>
            <input type="submit" value="Submit" class="submitButton"/>
            <input type="button" value="Cancel" [routerLink]="['/motivation', hobby.id]"/> 
        </form>
    </div>

</div>
