<div class="container">
    <div class="row topLayout">
        <div class="col-lg-4 titleLayout">
            <div class="dropdown">
                <button class="dropdown-toggle dropBtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Motivation <img src="../assets/images/dropdwn.svg" id="dropIcon"/></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item drop-Item" routerLink="/main">Dashboard</a><br>
                    <a class="dropdown-item drop-Item" [routerLink]="['/dashboard', hobby.id]">My Widgets</a><br>
                    <a class="dropdown-item drop-Item" [routerLink]="['/calendar', hobby.id]">Calendar</a><br>
                    <a class="dropdown-item drop-Item" [routerLink]="['/checklist', hobby.id]">Task List</a><br>
                    <a class="dropdown-item drop-Item" [routerLink]="['/external-links', hobby.id]">Useful Links</a><br>
                    <a class="dropdown-item drop-Item" [routerLink]="['/assistant', hobby.id]">Assistant</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 boxLayout">
            <p><a class="title" routerLink="/main">Hobbyistic</a></p>  
        </div>
        <div class="col-lg-1"></div>
        <div class="col-md-6 col-lg-3 iconLayout">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <img src="../assets/images/logout.svg" alt="Logout" routerLink="/login"/>
                </div>
                <div class="col-md-4 col-lg-4">
                    <img src="../assets/images/home.svg" alt="Home" routerLink="/main"/>
                </div>
                <div class="col-md-4 col-lg-4">
                    <img src="../assets/images/settings.svg" alt="Settings" routerLink="/settings"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row myHobbiesTxt">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 inlineChange">
            <h2>{{ hobby.name }} Timeline</h2>
        </div>

        <div class="col-lg-4 postButtonsRow">
            <button (click)="viewUserPosts()" class="postButton">My Posts</button>
            <button (click)="viewPublicPosts()" class="postButton">Public Posts</button>
            <img src="../assets/images/add.svg" [routerLink]="['/add-post', hobby.id]" id="addIcon"/>
        </div>

    </div>

    <div class="row marginTop" [style.overflow-y] = "isPostsVisible ? 'scroll' : 'hidden'" [style.background-color] = "isPostsVisible ? '#DBE4EE' : '#FFFFFF'" [style.border] = "isPostsVisible ? '1px solid black' : 'none'">

        <div [style.display]="isPostsVisible ? 'block' : 'none'">

            <div [style.display]="isPublicVisible ? 'block' : 'none'"> 
                <h1 class="postLabel">Public Posts</h1>
            </div>
            <div [style.display]="isPublicVisible ? 'block' : 'none'" *ngFor = "let post of publicPosts">
                
                <h2 class="postTitle">{{ post.title }}</h2>
                <img [src]="post.dbImage" alt="An Image that motivates" class="postImg">
                <p class="postDescription">{{ post.description }}</p>
                
                <div class="footerPost">
                    <p>Posted on {{ post.postDate }}</p>
                </div>
            </div>
    
            <div [style.display]="isUserVisible ? 'block' : 'none'">
                <h1 class="postLabel">Your Posts</h1>
            </div>
    
            <div [style.display]="isUserVisible ? 'block' : 'none'" *ngFor = "let upost of userPosts">

                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="postTitle">{{ upost.title }}</h2>
                    </div>
                </div>

                
                <img [src]="upost.dbImage" alt="An Image that motivates" class="postImg">
                <p class="postDescription">{{ upost.description }}</p>
    
                <div class="row footerPost">
                    <img src="../assets/images/delete.svg" (click)="viewDeleteForm(); getSinglePostInstance(upost)" class="deleteBtn" style="width: 2em"><label>Posted on {{ upost.postDate }}</label>
                </div>
            </div>
            
        </div>

        <div [style.display]="isDeleteFormVisible ? 'block' : 'none'" class="deleteForm">
            <div class="row">
                <p>Are you sure you'd like to delete this post?</p>
            </div>
            <div class="row deleteOpts">
                <button (click)="deletePost(); reload();">Yes</button>
                <button (click)="viewPosts()">No</button>
            </div>
        </div>

    </div>

    
</div>


