@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

div
{
    text-align: center;
}

h2
{
    font-size: 2em;
}

#formContent
{
    font-family: 'Quicksand', sans-serif;
    color: #4A442D;
    margin-top: 2em;
    border: 1px solid black;
    border-radius: 5%;
    margin-left: 34em;
    margin-right: 34em;
    background-color: #DBE4EE;
}