<div class="container">
    <div class="row topLayout">
        <div class="col-lg-4 titleLayout">
            <div class="dropdown">
                <button class="dropdown-toggle dropBtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Calendar <img src="../assets/images/dropdwn.png" id="dropIcon"/></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item drop-Item" routerLink="/main">Dashboard</a><br>
                    <a class="dropdown-item drop-Item" [routerLink]="['/dashboard', hobby.id]">My Widgets</a><br>
                    <a class="dropdown-item drop-Item" [routerLink]="['/motivation', hobby.id]">Motivation</a><br>
                    <a class="dropdown-item drop-Item" [routerLink]="['/checklist', hobby.id]">Task List</a><br>
                    <a class="dropdown-item drop-Item" [routerLink]="['/external-links', hobby.id]">Useful Links</a><br>
                    <a class="dropdown-item drop-Item" [routerLink]="['/assistant', hobby.id]">Assistant</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 boxLayout">
            <p><a class="title" routerLink="/main">Hobbyistic</a></p>  
        </div>
        <div class="col-lg-1"></div>
        <div class="col-md-6 col-lg-3 iconLayout">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <img src="../assets/images/Logout.png" alt="Logout" routerLink="/login"/>
                </div>
                <div class="col-md-4 col-lg-4">
                    <img src="../assets/images/Home.png" alt="Home" routerLink="/main"/>
                </div>
                <div class="col-md-4 col-lg-4">
                    <img src="../assets/images/Settings.png" alt="Settings"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 hobbyName">
            <h2>My Calendar</h2>
        </div>
    </div>
    <div class="row">
        <div class="calendarSpace">
            <full-calendar 
            [options]="calendarOptions" 
            [style.display]="isCalendarVisible ? 'block' : 'none'" 
        >
        </full-calendar>
        </div>
        <!-- Add Modal -->
        <form #addEventForm="ngForm" (ngSubmit)="onAddEvent(addEventForm)" >
    <div class="modal" id="schedule-add" [style.display]="isAddFormVisible ? 'block' : 'none'" #content>
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Event</h4>
                    <button type="button" class="close" button (click)="backtoCalendar()">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                        <div class="form-group">
                            <label>Event Title:</label>
                            <input class="form-control" type="text" [(ngModel)]="event.title" name="title"/>
                            <label>Event Description:</label>
                            <input class="form-control" type="text" [(ngModel)]="event.description" name="description"/>
                            <label>Event Start:</label>
                            <input class="form-control" type="datetime-local" [(ngModel)]="event.startDate" name="start"/>
                            <label>Event End:</label>
                            <input class="form-control" type="datetime-local" [(ngModel)]="event.endDate" name="end"/>
                            <label>Event Frequency:</label>
                            <input class="form-control" type="text" [(ngModel)]="event.frequency" name="frequency"/>
                        </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" button (click)="backtoCalendar()">Close</button>
                    <button type="button" class="btn btn-success" type = "submit" >Add Event</button>
                </div>
    </div>
    </form>
    
    
    <!-- Edit Modal -->
    <form #editEventForm="ngForm" (ngSubmit)="onEditEvent(editEventForm)" >
    <div class="modal" id="schedule-edit" [style.display]="isEditFormVisible ? 'block' : 'none'" #content>
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Edit Event</h4>
                    <button type="button" class="close" data-dismiss="modal" button (click)="backtoCalendar()">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                        <div class="form-group">
                            <label>Event Title:</label>
                            <input class="form-control" type="text" [(ngModel)]="event.title" name="title"/>
                            <label>Event Description:</label>
                            <input class="form-control" type="text" [(ngModel)]="event.description" name="description"/>
                            <label>Event Start:</label>
                            <input class="form-control" type="datetime-local" [(ngModel)]="event.startDate" name="start"/>
                            <label>Event End:</label>
                            <input class="form-control" type="datetime-local" [(ngModel)]="event.endDate" name="end"/>
                            <label>Event Frequency:</label>
                            <input class="form-control" type="text" [(ngModel)]="event.frequency" name="frequency"/>
                        </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" button (click)="backtoCalendar()">Close</button>
                    <button type="button" class="btn btn-success spaceUpdate" type = "submit">Update Event</button>
                    <img src="../assets/images/delete.svg" (click)="deleteEvent();" class="deleteBtn" style="width: 2.25em">
                </div>
            </div>
        </form>
        </div>
    </div>
    



