<div class="container">
    <div class="row topLayout">
        <div class="col-lg-3 titleLayout">
            <h2>Calendar</h2>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 boxLayout">
            <p><a class="title" routerLink="/main">Hobbyistic</a></p>  
        </div>
        <div class="col-md-6 col-lg-3 iconLayout">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <img src="../assets/images/Logout.png" alt="Logout" routerLink="/login"/>
                </div>
                <div class="col-md-4 col-lg-4">
                    <img src="../assets/images/Home.png" alt="Home" routerLink="/main"/>
                </div>
                <div class="col-md-4 col-lg-4">
                    <img src="../assets/images/Settings.png" alt="Settings"/>
                </div>
            </div>
        </div>
    </div>
    <full-calendar [options]="calendarOptions"></full-calendar>
</div>


