<div class="container">
  <div class="row topLayout">
      <div class="col-lg-3 titleLayout">
          <h2>Dashboard</h2>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 boxLayout">
          <p><a class="title">Hobbyistic</a></p>
      </div>
      <div class="col-md-6 col-lg-3 iconLayout">
          <div class="row">
              <div class="col-md-4 col-lg-4">
                  <img src="../assets/images/Logout.png" alt="Logout" routerLink="/login"/>
              </div>
              <div class="col-md-4 col-lg-4">
                  <img src="../assets/images/Home.png" alt="Home"/>
              </div>
              <div class="col-md-4 col-lg-4">
                  <img src="../assets/images/Settings.png" alt="Settings"/>
              </div>
          </div>
      </div>
  </div>
  <div class="row myHobbiesTxt">
      <div class="col-lg-10">
          <h2>Edit Task</h2>
      </div>
      <div class="col-lg-2">
          <img src="../assets/images/add.svg" alt="Cancel" routerLink="/main" id="addIcon"/>
      </div>
  </div>
  <div class="row hobbyBox">
    <form #editTaskForm="ngForm" (ngSubmit)="onEditTask(editTaskForm)">
      <div class="row topSpace">
        <div class="col-lg-2"></div>
        <div class="col-lg-2">
          <p class="addHobbytxt">Task Name:</p>
        </div>
        <div class="col-lg-2">
          <input class="addHobbyInput" [ngModelOptions]="{standalone: true}" [(ngModel)]="task.task" name="{{task.task}}"/>
        </div>
        <div class="col-lg-1"></div>
        <!-- <div class="col-lg-5"><p><img src="../assets/images/delete.svg" class="deleteBtn" style="width: 2.25em" alt="Delete" routerLink="/main" value="deleteHobby" (click)="deleteHobby()"></p></div> -->
      </div>
      <div class="col-lg-2"><p class="addHobbytxt"><input id="add" value="Update" type="submit"></p></div>

      <div class="row topSpace leftSpace">
        <div class="col-lg-2"></div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2"><p class="addHobbytxt"><input id="add" value="Update" type="submit"></p></div>
        <div class="col-lg-2"><p class="addHobbytxt"><input routerLink="/main" id="cancel" value="Discard" type="submit"></p></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-1"></div>
      </div>

      <!--<p class="alignleft">Choose Widgets</p>
      <input class="alignleft" placeholder="COMING SOON"/>-->

    </form>

  </div>
</div>
