@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

img
{
    margin-left: 45em;
}

h1
{
    font-family: 'Caveat', cursive;
    text-align: center;
    padding-top: 0.35em;
    font-size: 5rem;
    color: #DBE4EE;
}