.title
{
    font-family: 'Caveat', cursive;
    text-decoration: none;
    cursor: pointer;
    font-size: 5em;
    text-align: center;
    padding-top: 1em;
}

.iconLayout img:hover
{
    background-color: #DBE4EE;
}

.postImg
{
    width: 25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.iconLayout img, .assistImg
{
    width: 3em;
}

.centerAlign
{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
}

#addIcon
{
    margin-top: 1.5em;
    width: 4em;
    float: right;
}

#addIcon:hover
{
    background-color: #386150;
    border-radius: 100%;
}

p, .title, h2
{
    color: #DBE4EE;
}

.upcomingEvent
{
    color: black;
    margin-bottom: 0.75em;
}

h2
{
    text-align: center;
    font-size: 3em;
    margin-top: 0;
    padding-top: 0.5em;
}

.dropdown
{
    text-align: left;
}

.topLayout
{
    background-color: #27473A;
    border-bottom: 0.4em solid #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 0.15em solid #333;
    border-left: 0.15em solid #333;
}

.hobbyBox
{
    border: 1px solid #333;
    border-radius: 2.5px;
}

.hobbyName h2
{
    padding-top: 1em;
    color: black;
}

.assistant
{
    margin-top: 3.3em;
    vertical-align: bottom;
    float: right;
    width: auto;

}

.assistant label
{
    padding-right: 0.5em;
    font-size: 2em;
    vertical-align: middle;
    font-weight: 200;
    cursor: pointer;
}

.assistant img
{
    cursor: pointer;
}

.assistant label:hover
{
    font-weight: 600;
}

.boxLayout
{
    text-align: center; 
}

.titleLayout
{
    padding-top: 0.5em;
}

.iconLayout
{
    padding-top: 2.5em;
    text-align: center;
}

.searchBarDiv
{
    position: absolute;
    left: 25%;
}

.searchResultsDiv
{
    position: absolute;
    height: 135px;
    overflow-y: scroll;
    top: 40%;
    left: 5px;
    width: 100%;
    overflow-x: hidden;
    padding-left: 10px;
}

.taskResultsDiv
{
    height: 155px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    padding-right: 2.5em;
    margin-left: 0.45em;
}

.widgetSubAlt
{
    height: 237.5px;
}

.strikeText
{
    text-decoration: line-through;
}

input.checkbox
{
    width: 2em;
    height: 2em;
    float: right;
    margin: 0;
}

.editImg
{
    float: left;
    width: 2em;
}

label:not(#assistant)
{
    font-size: 1.25em;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 1em;
}

.usefulBox, .taskBox
{
    overflow-x: hidden;
}

.widgetBox, .widgetSubBox, .widgetSubAlt
{
    border-radius: 20px;
    padding-top: 1em;
    outline: solid 1.5px black;
    outline-offset: -10px;
}

.widgetLink
{
    font-size: 2em;
    font-family: 'Caveat', cursive;
    color: #27473A;
}

p
{
    text-align: center;
}

p:not(.widgetLink), .postTitle
{
    color: black;
}

.allWidgets
{
    margin-bottom: 1em;
}

.widgetBox
{
    padding-bottom: 3em;
    height: 500px;
}

.postDisplay
{
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    margin-left: 0.35em;
}

.linkTitle
{
    font-weight: 800;
}

.linkDesc
{
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}

.widgetSubBox
{
    padding-bottom: 14.15em;
}

.footerPost p
{
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}

.inline
{
    display: inline;
}

.offSet
{
    margin-left: 22%;
}

.middleSet
{
    padding-left: 1em;
    padding-right: 1em;
}

.deleteBtn
{
    cursor: pointer;
}

.eventRow
{
    margin-bottom: 1em;
    font-size: 1.5em;
}

@media screen and (max-width: 768px) {
    .titleLayout
    {
        display: none;
    }

    .iconLayout
    {
        border: none;
        text-align: right;
    }

    .iconLayout img
    {
        margin-top: 1.5em;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1400px;
    }
}
