.title
{
    font-family: 'Caveat', cursive;
    text-decoration: none;
    cursor: pointer;
    font-size: 5em;
    text-align: center;
    padding-top: 1em;
}

.iconLayout img:hover
{
    background-color: #DBE4EE;
}

img:not(#addIcon)
{
    width: 3em;
}

.centerAlign
{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
}

#addIcon
{
    margin-top: 1.5em;
    width: 4em;
    float: right;
}

#addIcon:hover
{
    background-color: #386150;
    border-radius: 100%;
}

p, .title, h2
{
    color: #DBE4EE;
}

h2
{
    text-align: center;
    font-size: 3em;
    margin-top: 0;
    padding-top: 0.5em;
}

.topLayout
{
    background-color: #27473A;
    border-bottom: 0.4em solid #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 0.15em solid #333;
    border-left: 0.15em solid #333;
}

.hobbyBox
{
    border: 1px solid #333;
    border-radius: 2.5px;
}

.hobbyName h2
{
    padding-top: 1em;
    color: black;
}

.boxLayout
{
    text-align: center; 
}

.titleLayout
{
    padding-top: 0.5em;
}

.iconLayout
{
    padding-top: 2.5em;
    text-align: center;
}

.widgetBox
{
    border: solid 1px black;
}

a
{
    font-size: 2em;
    font-family: 'Caveat', cursive;
}

p
{
    text-align: center;
}

.allWidgets
{
    margin-bottom: 3em;
}

.widgetBox
{
    padding-top: 7.5em;
    padding-bottom: 7.55em;
}

@media screen and (max-width: 768px) {
    .titleLayout
    {
        display: none;
    }

    .iconLayout
    {
        border: none;
        text-align: right;
    }

    .iconLayout img
    {
        margin-top: 1.5em;
    }
}
