<div class="container">
    <div class="row topLayout">
        <div class="col-lg-3 titleLayout">
            <h2>My Widgets</h2>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 boxLayout">
            <p><a class="title" routerLink="/main">Hobbyistic</a></p>  
        </div>
        <div class="col-md-6 col-lg-3 iconLayout">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <img src="../assets/images/Logout.png" alt="Logout" routerLink="/login"/>
                </div>
                <div class="col-md-4 col-lg-4">
                    <img src="../assets/images/Home.png" alt="Home" routerLink="/main"/>
                </div>
                <div class="col-md-4 col-lg-4">
                    <img src="../assets/images/Settings.png" alt="Settings"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 hobbyName">
            <h2 [ngModelOptions]="{standalone: true}" [(ngModel)]="hobby.name">{{ hobby.name }}</h2>
        </div>
    </div>
    <div class="row allWidgets">
        <div class="row">
            <div class="col-lg-12 widgetBox">
                <div class="col-lg-4">
                    
                </div>
                <div class="col-lg-4">
                    <p><a [routerLink]="['/external-links', hobby.id]">Useful Links</a></p>
                </div>
                <div class="col-lg-4">
                    
                </div>
            </div>
            <div class="col-lg-12 widgetBox">
                <div class="col-lg-4">
                    
                </div>
                <div class="col-lg-4">
                    <p><a [routerLink]="['/calendar', hobby.id]">Calendar</a></p>
                </div>
                <div class="col-lg-4">
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 widgetBox">
                <div class="col-lg-4">
                    
                </div>
                <div class="col-lg-4">
                    <p><a [routerLink]="['/checklist', hobby.id]">Task List</a></p>
                </div>
                <div class="col-lg-4">
                    
                </div>
            </div>
            <div class="col-lg-6 widgetBox">
                <div class="col-lg-4">
                    
                </div>
                <div class="col-lg-4">
                    <p><a [routerLink]="['/motivation', hobby.id]">Motivation</a></p>
                </div>
                <div class="col-lg-4">
                    
                </div>
            </div>
        </div>
    </div>
</div>