<div class="container">
    <div class="row">
        <div class="col-lg-3 titleLayout">
            <p><a class="hobbies">Hobbies</a></p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 boxLayout">
            <div>
                <h2>Dashboard</h2>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 iconLayout">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <img src="../assets/images/Logout.png" alt="Logout" routerLink="/login"/>
                </div>
                <div class="col-md-4 col-lg-4">
                    <img src="../assets/images/Home.png" alt="Home" routerLink="/main"/>
                </div>
                <div class="col-md-4 col-lg-4">
                    <img src="../assets/images/Settings.png" alt="Settings"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="">
            
        </div>
    </div>
</div>
